
.r-og9te1 {
    max-width: 20px;
}
.r-f9ja8p {
    max-height: 20px;
}
.r-1cvl2hr {
    color: rgb(29, 155, 240);
}

.r-lrvibr {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.r-1plcrui {
    vertical-align: text-bottom;
}
.r-bnwqim {
    position: relative;
}
.r-1xvli5t {
    height: 1.25em;
}
.r-yyyyoo {
    fill: currentcolor;
}
.r-4qtqp9 {
    display: inline-block;
}
